<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css.css">
</head>
<body>
    <% sqlDataMap.forEach(element => { %>

        
        <form action="/details/<%=element.id%>" method="GET">
            <p>title <%=element.title%></p>
            <p>company <%=element.company%></p>
            <p>location <%=element.location%></p>
            <p>url <%=element.url%></p>


            <input type="hidden" name="title" value="<%=element.title%>">
            <input type="hidden" name="company" value="<%=element.company%>">
            <input type="hidden" name="location" value="<%=element.location%>">
            <input type="hidden" name="url" value="<%=element.url%>">

            <button>View-Details</button>
        
        </form>

    
       
    <% }) %>
</body>
</html>